@use "../../styles/variables" as *;
@use "../../styles/media" as *;

.footer {
  background-color: var(--bg-secondary);
  border-top: 1px solid var(--border);
  padding: 20px 0 10px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__logo {
    font-size: 1.6rem;
    font-weight: 700;
    filter: var(--filter);

    &:hover {
      filter: var(--filter-hover);
    }
    span {
      color: var(--accent);
    }
  }
  &__portfolio {
    font-size: 1rem;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;

    &:hover {
      color: var(--accent);
    }
  }
  &__socials {
    display: flex;
    gap: 16px;

    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--border);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-secondary);
      transition: all 0.3s ease;

      &:hover {
        rotate: 360deg;
        border-color: var(--accent);
        color: var(--accent);
      }
    }
  }
}
