@use "../../styles/variables" as *;
@use "../../styles/media" as *;

.footer {
  background-color: $bg-secondary;
  border-top: 1px solid $border;
  padding: 20px 0 10px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__logo {
    font-size: 1.6rem;
    font-weight: 700;
    filter: $filter;

    &:hover {
      filter: $filter-hover;
    }
    span {
      color: $accent;
    }
  }
  &__portfolio {
    font-size: 1rem;
    color: $text-secondary;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;

    &:hover {
      color: $accent;
    }
  }
  &__socials {
    display: flex;
    gap: 16px;

    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $border;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-secondary;
      transition: all 0.3s ease;

      &:hover {
        rotate: 360deg;
        border-color: $accent;
        color: $accent;
      }
    }
  }
}
